@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  animation-duration: 1000ms;
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  --charcoal: #3a6b7e;
  --persian-green: #2a9d8fff;
  --saffron: #e9c46aff;
  --sandy-brown: #f4a261ff;
}
html {
  overflow-y: scroll; /* Ensures space for scrollbar to prevent layout shift */
}
body {
  background: #fbfefb;
  font-family: Poppins;
  color: #222222; /* dark gray */
  /* #F5F5F5 (Light Gray) */
  overflow-y: scroll; /* Always show vertical scrollbar */
}
.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.test {
  border: red 1px solid;
}
.test2 {
  border: blue 1px solid;
}

/* scroll effect */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* loading page */
.loader {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
